name: Crystal CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    container:
      image: crystallang/crystal
    
    steps:
    - name: Checkout with submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: SHARDS_OVERRIDE=shard.dev.yml shards install
    - name: Check Formatting
      run: crystal tool format --check
    - name: Run tests
      run: crystal spec
    - name: Ameba
      run: bin/ameba
